<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <div class="movies-container">
        <mat-card class="movie-card-container" *ngFor="let movie of movies">
            <mat-card-header class="movie-card-header">
                <mat-card-title class="movie-card-title">{{
                    movie.Title
                    }}</mat-card-title>
                    <button mat-icon-button (click)="onToggleFavoriteMovie(movie._id)"
                    style="margin: 0.5rem 1rem" color="primary" matTooltip="Add to Favorites list"
                    aria-label="Add to Favorites list">
                    <mat-icon>favorite_border</mat-icon>
                </button>
            </mat-card-header>
            <mat-card-content [style.margin]="'0'" class="custom-card-content">
                <img mat-card-image src="{{ movie.ImagePath }}" />
            </mat-card-content>
            <mat-card-actions class="movie-card-actions-container">
                <button mat-raised-button (click)="openSynopsisDialog(movie.Description)"
                    style="margin: 0.5rem" class="button-card" color="primary" aria-label="View synopsis">
                    Synopsis
                </button>
                <button mat-raised-button (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)" style="margin: 0.5rem"
                    style="margin: 0.5rem" class="button-card" color="primary" aria-label="View genres">
                    Genre
                </button>
                <button mat-raised-button (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
                    style="margin: 0.5rem" class="button-card" color="primary" aria-label="View director">
                    Director
                </button>
            </mat-card-actions>
    </mat-card>
</div>
</div>