<div class='navbar'>
    <div class='nav-container' style="text-align: center;" >
      <div class="nav-title">Flix</div>
      <div class='nav-links'>
        <button
          mat-button
          class='profile'
          routerLink='/movies'
        >
          Movies
        </button>
        <button
          mat-button
          class='profile'
          routerLink='/profile'
        >
          Profile
        </button>
        <button
          mat-button
          class='profile'
          (click)='signOut()'
        >
          Logout
        </button>
      </div>
    </div>
  </div>