<app-nav-bar></app-nav-bar>
<div class="profile-container">
  <!-- Update Profile -->
  <section>
    <mat-card class="update-container">
      <mat-card-header class="update-header">
          Hello {{ user.Username }}
        <mat-card-title>Update Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="update-form--action">
        <button
          aria-label="button that submits form to update user account"
          class="btn-update-account"
          mat-raised-button
          (click)="editUserData()"
          color="primary"
        >
          Update
        </button>
        <button
          aria-label="button that removes user account"
          class="btn-remove-account"
          mat-raised-button
          (click)="deleteUser()"
          color="primary"
        >
          Remove Account
        </button>
      </mat-card-actions>
    </mat-card>
  </section>